.sofaMain {
  display: flex;
  background: #2b2b2ff1;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}

.sofaSideImg {
  height: 120%;
  margin-right: 8rem;
}

.sofaSideInfo {
  width: 30rem;
  margin: 0 2rem;
}

.sofaSideInfo > p,
h2 {
  color: white;
  margin: 0;
}

@media (max-width: 480px) {
  .sofaSideImg {
    height: inherit;
    margin-right: 8rem;
  }
}
