@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.headerContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./../../../Images/couch/couch-2-resized.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerText {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 4.5rem;
  font-weight: 200;
}
.headerActionBtn {
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: none;
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 0.2rem solid white;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.headerActionBtn:hover {
  color: black;
  background: white;
}

@media (max-width: 480px) {
  .headerContainer {
    height: 40vh;
  }
  .headerText {
    font-size: 1.6rem;
  }
  .headerActionBtn {
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.5rem;
  }
}
